
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/0-reset.css">
    <link rel="stylesheet" href="styles/1-base.css">
    <link rel="stylesheet" href="styles/2-layout.css">
    <link rel="stylesheet" href="styles/3-modules.css">
    <link rel="stylesheet" href="styles/4-icons.css">
  </head>
  <body>
    <header>Best Books!</header>
    <main>
      <h3>ERROR, ERROR, ERROR</h3>
      <h5>Error Status: <%= status %></h5>
      <p><%= message %></p>
    </main>
  </body>
</html>
