
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <h4>Search by Title or Author</h4>
    </main>
  </body>
</html>