#app-title {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
}

#menu {
  background-color: #000000d9;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}

.hidden, #menu {
  display: none;
}

#books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  background-color: #dedede;
  margin: 0 40px;
  margin-bottom: 50px;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 1px;
  width: 300px;
}