<div id="app-title">
  <h1>Best Books!</h1>
  <i class="menu-icon fas fa-atlas fa-3x"></i>
</div>
<div id="menu" class="hidden">
  <h4 class="menu-item"><a href="/">Home</a></h4>
  <h4 class="menu-item"><a href="/search">Search by Title or Author</a></h4>
</div>